---
layout: default
---



<!-- <div style="float: right;"> -->
  <div >
    <a href="https://twitter.com/williamtfleming" style="float: right;"> <img src="/images/social-icons/Twitter_Social_Icon_Circle_Color.svg" alt="Twitter" width="32" height="32"></a>
    <a href="https://github.com/wtfleming" style="float: right; padding-right:5px;"> <img src="/images/social-icons/GitHub-Mark-32px.png" alt="GitHub" width="32" height="32"></a>

  <div style="text-align: left;"><a href="/">Home</a></div>
</div>
<br />

<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>
<br />
<hr />
<div style="text-align: right;"><a href="/">View More Blog Posts</a></div>
<hr />
<br />

<!-- {% include comments.html %} -->
